.box {
  border: 1px solid black;
}

.borderRadiusZero {
  border-radius: 0px;
}

.borderRadiusRound {
  border-radius: 10px;
}

.medium {
  width: 100px;
  height: 100px;
}
.large {
  width: 200px;
  height: 200px;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
